*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: sans-serif;
    --ff-secondary: monospace;
    --fw-reg: 300;
    --fw-bold: 800;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-other: #fdab8a;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
     :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}


/*header*/

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.nav {
    position: fixed;
    background-color: var(--clr-other);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-dark)
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-close {}

.nav-open .nav-toggle {
    position: fixed;
}

.closebtn {
    font-size: xx-large;
    padding-right: 33px;
    padding-top: 10px;
    color: black;
    margin-left: auto;
    margin-right: 0;
    float: right;
    text-decoration: none;
    font-weight: 900;
}


/*hamburger*/

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}


/* style */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.5;
}

section {
    padding: 5em 1em;
}

image {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3 {
    line-height: 1.2;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2)
}

h3 {
    font-size: var(--fs-h3)
}

.section__intro {
    margin-bottom: .25em;
    font-weight: var(--fw-reg);
}

.section__intro strong {
    display: block;
}

.subtitle__about {
    background: var(--clr-other);
    font-size: var(--ff-secondary);
    font-weight: var(--fw-bold);
}


/* intro */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

strong {
    background: var(--clr-other);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: "img title";
        grid-template-columns: min-content max-content;
    }
    .intro__img {
        grid-area: img;
        width: 200px;
    }
    .section__intro {
        text-align: center;
        margin-right: 15%;
        line-height: 1.2;
    }
}


/*project*/

.projectimg {
    width: 200px;
    box-shadow: var(--bs);
}

.my-projects {
    background-color: var(--clr-other);
    color: var(--clr-light);
    background-image: url(https://azizhaknazarov.com/img/services-bg.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
}

.section__project {
    position: relative;
    color: var(--clr-other);
}

.section__project::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

@media (min-width: 800px) {
    .projectitem {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }
}

.project {
    margin-left: 4em;
}

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-other);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    margin-top: 2em;
}

.btn:hover {
    transform: scale(1.1);
}


/*about me */

.aboutmepic {
    width: 300px;
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "title img" "subtitle img" "text img";
        grid-column-gap: 2em;
    }
    .aboutmepic {
        grid-area: img;
    }
}


/*work*/

.model {
    box-shadow: var(--bs);
    width: 200px;
}

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-other);
    text-align: center;
}


/*footer*/

.footer {
    background-color: #111;
    text-align: center;
    color: var(--clr-other);
}

.footer a {
    color: inherit
}

.link:hover {
    font-size: var(--fs-h3);
}

.link:hover,
.social:hover {
    opacity: .8;
    font-size: var(--fs-h3);
}

.contact {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.contact-me {
    margin: 0 .5em;
}

.social {
    padding: .5em;
}
